name: legal_assistant_app
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_markdown: ^0.7.3

  dio: ^5.9.0
  pretty_dio_logger: ^1.3.1

  flutter_bloc: ^9.1.1
  equatable: ^2.0.5

  http_parser: ^4.0.2
  mime: ^1.0.5

  file_picker: ^8.0.0
  path_provider: ^2.1.2

  flutter_dotenv: ^5.1.0

dev_dependencies:
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - .env

  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter_28pt-Regular.ttf